.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 50vh;
  
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.typewriter-container {
  font-size: 2rem; /* Increase the font size here */
  color: #000000; /* Set the color to match the input */
}

.input-container {
  position: relative;
}

.animated-input {
  font-size: 3.5rem;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 4px;
  outline: none;
  color: #000000;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.input-containe{
  position: relative;
  padding: 50px;
  width: 400px;
}

.search-input {
  width: 80%;
  padding: 15px 20px;
  padding-left: 40px; /* Space for the icon */
  font-size: 1.25rem; /* Adjust font size */
  border: none;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.3s ease;
  color: #333;
}

.search-input:focus {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.search-input::placeholder {
  color: #aaa;
}

/* Optional: add a search icon inside the input */
.input-container::before {
  /* content: '🔍'; */
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25rem;
  color: #aaa;
}